:root {
  --bs-primary: #266DA9 !important;
  --bs-primary-rgb: #266DA9 !important;
  --bs-primary-bg-subtle: #548FC1 !important;
  --bs-primary-text-emphasis: #266DA9 !important;
  --bs-light: rgb(248, 249, 250) !important;
  --bs-light-text-emphasis: lightblue !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

@scope (#nav) {
  .nav, .navbar, .nav-pills, .nav-underline {
    --bs-nav-link-color: var(--bs-light) !important;
    --bs-nav-link-hover-color: var(--bs-light-text-emphasis) !important;
    --bs-nav-link-font-size: 1.1rem !important;
    --bs-navbar-brand-color: var(--bs-light) !important;
    --bs-navbar-brand-hover-color: var(--bs-light-text-emphasis) !important;
    --bs-nav-pills-link-active-color: var(--bs-light) !important;
    --bs-nav-pills-link-active-bg: var(--bs-primary-bg-subtle) !important;
    --bs-nav-underline-link-active-color: var(--bs-light) !important;
  }

  .nav-link:hover {
    text-decoration: underline;
  }
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary) !important;
  --bs-btn-hover-bg: var(--bs-light-text-emphasis) !important;
  --bs-btn-color: var(--bs-light) !important;
  --bs-btn-hover-border-color: transparent !important;
  --bs-btn-hover-color: var(--bs-primary) !important;
}

.profile-pic {
  border-radius: 50%;
  border: 5px solid var(--bs-primary);
  width: 200px;
}

.profile-pic-mini {
  border-radius: 50%;
  border: 1px solid var(--bs-light);
  width: 32px;
}

.navbar-brand:hover > .profile-pic-mini {
  border: 1px solid var(--bs-light-text-emphasis);
}

nav {
  width: 100% !important;
  padding: 1em !important;
}

footer {
  display: flex;
  justify-content: center;
}

@scope (#projects-list) {
  .nav, .navbar, .nav-pills, .nav-underline {
    --bs-nav-link-color: var(--bs-primary) !important;
    --bs-nav-link-hover-color: var(--bs-primary-bg-subtle) !important;
    --bs-nav-link-font-size: 1.1rem !important;
    --bs-navbar-brand-color: var(--bs-light) !important;
    --bs-navbar-brand-hover-color: var(--bs-light-text-emphasis) !important;
    --bs-nav-pills-link-active-color: var(--bs-light) !important;
    --bs-nav-pills-link-active-bg: var(--bs-primary-bg-subtle) !important;
    --bs-nav-underline-link-active-color: var(--bs-light) !important;
  }

  .nav-link:hover {
    background-color: var(--bs-light);
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
  }
}

.scrollspy {
  height: 65vh;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--bs-primary);
}
