<div class="d-flex gap-2 align-items-baseline justify-content-between">
  <h5 class="">A-Maze-ing Race (Hardware)</h5>
  <a href="https://github.com/bryanluu/a-maze-ing-race" target="_blank" class="btn btn-primary btn-nd px-3 gap-2 icon-link align-items-baseline">
    <i class="bi bi-github"></i>
    View on GitHub
  </a>
</div>
<p>This was a hobby project I worked on in the summer of 2022. It was a hardware project implementing maze generation via Prim's algorithm, but turned into an arcade style game. I learned how to code complex stuff in an Arduino. It was really fun to make it!</p>
<img src="/assets/images/a-maze-ing-race.jpeg" alt="Photo of the A-Maze-ing Race project" width="100%">

<h6>Skills I Practiced:</h6>
<ul class="list-skill d-flex gap-2 flex-wrap">
  <li class="badge bg-primary text-bg-primary">Arduino</li>
  <li class="badge bg-primary text-bg-primary">C Programming</li>
  <li class="badge bg-primary text-bg-primary">Basic Prototyping</li>
  <li class="badge bg-primary text-bg-primary">Algorithms</li>
  <li class="badge bg-primary text-bg-primary">Data Structures</li>
</ul>
