<div class="d-flex gap-2 align-items-baseline justify-content-between">
  <h5>Boids</h5>
  <a href="https://github.com/bryanluu/boids" target="_blank" class="btn btn-primary btn-nd px-3 gap-2 icon-link align-items-baseline">
    <i class="bi bi-github"></i>
    View on GitHub
  </a>
</div>
<p>This project simulates a flock of 'boids', or digital birds (or fish). Inspired by <a href="https://animals.howstuffworks.com/birds/starling-murmurations.htm" target="_blank">starling murmurations</a>, I implemented them using an algorithm from <a href="https://people.ece.cornell.edu/land/courses/ece4760/labs/s2021/Boids/Boids.html" target="_blank">this Boids lab</a> from Cornell University.</p>
<img src="/assets/images/boids.gif" alt="Photo of the Boids project" width="100%">

<h6>Skills I Practiced:</h6>
<ul class="list-skill d-flex gap-2 flex-wrap">
  <li class="badge bg-primary text-bg-primary">Arduino</li>
  <li class="badge bg-primary text-bg-primary">C Programming</li>
  <li class="badge bg-primary text-bg-primary">Algorithms</li>
  <li class="badge bg-primary text-bg-primary">Data Structures</li>
</ul>
