<div class="d-flex gap-2 align-items-baseline justify-content-between">
  <h5>FamTree</h5>
  <a href="https://github.com/bryanluu/FamTree" target="_blank" class="btn btn-primary btn-nd px-3 gap-2 icon-link align-items-baseline">
    <i class="bi bi-github"></i>
    View on GitHub
  </a>
</div>
<p>I made a simple family tree visualizer in Python as a notebook experiment. It was a fun project that I hope to revisit one day.</p>
<img src="/assets/images/famtree.png" alt="Photo of the FamTree project" width="100%">

<h6>Skills I Practiced:</h6>
<ul class="list-skill d-flex gap-2 flex-wrap">
  <li class="badge bg-primary text-bg-primary">Python Programming</li>
  <li class="badge bg-primary text-bg-primary">Data Visualization</li>
  <li class="badge bg-primary text-bg-primary">Graph Theory</li>
</ul>
