<div class="d-flex gap-2 align-items-baseline justify-content-between">
  <h5 class="">GRID Arcade</h5>
  <a href="https://github.com/bryanluu/GRID-arcade" target="_blank" class="btn btn-primary btn-nd px-3 gap-2 icon-link align-items-baseline">
    <i class="bi bi-github"></i>
    View on GitHub
  </a>
</div>
<p>This was a fun personal project to polish my hardware skills. I packaged the old <a href="#a-maze-ing-race">A-Maze-ing race hardware</a> and Boids program into a proper arcade box. I called it the GRID because it features the 32x32 Matrix Panel used previously.</p>
<img src="/assets/images/GRID.gif" alt="Footage of the GRID project in action" width="300px" class="align-self-center">

<h6>Skills I Practiced:</h6>
<ul class="list-skill d-flex gap-2 flex-wrap">
  <li class="badge bg-primary text-bg-primary">Embedded Programming</li>
  <li class="badge bg-primary text-bg-primary">Prototyping</li>
  <li class="badge bg-primary text-bg-primary">State Machines</li>
  <li class="badge bg-primary text-bg-primary">Emulation</li>
  <li class="badge bg-primary text-bg-primary">Algorithms</li>
  <li class="badge bg-primary text-bg-primary">Data Structures</li>
</ul>