<div class="d-flex gap-2 align-items-baseline justify-content-between">
  <h5>PowerPlots</h5>
  <a href="https://github.com/WISPO-POP/PowerPlots.jl" target="_blank" class="btn btn-primary btn-nd px-3 gap-2 icon-link align-items-baseline">
    <i class="bi bi-github"></i>
    View on GitHub
  </a>
</div>
<p>I worked on an open-source Julia package with researchers (Noah Rhodes and Joe Gorka) from <a href="https://wispo.ece.wisc.edu/" target="_blank">University of Wisconsin-Madison</a>. The package was built to help researchers visualize power-flow.</p>
<img src="/assets/images/powerplot.svg" alt="Photo of the PowerPlots project" width="30%" class="align-self-center">

<h6>Skills I Practiced:</h6>
<ul class="list-skill d-flex gap-2 flex-wrap">
  <li class="badge bg-primary text-bg-primary">Julia Programming</li>
  <li class="badge bg-primary text-bg-primary">Vega Data Visualization</li>
  <li class="badge bg-primary text-bg-primary">Power Engineering</li>
</ul>
