<div class="d-flex gap-2 align-items-baseline justify-content-between">
  <h5 class="">A-Maze-ing Race (Web)</h5>
  <a href="https://bryanluu.github.io/a-maze-ing-race-web/" target="_blank" class="btn btn-primary btn-nd px-3 gap-2 icon-link align-items-baseline">
    <i class="bi bi-controller"></i>
    Play It
  </a>
  <a href="https://github.com/bryanluu/a-maze-ing-race-web" target="_blank" class="btn btn-primary btn-nd px-3 gap-2 icon-link align-items-baseline">
    <i class="bi bi-github"></i>
    View on GitHub
  </a>
</div>
<p>This was a port of the <a href="#a-maze-ing-race">A-Maze-ing Race</a> to a web version. It was a project to further develop my web development skills. I learned how to port my code from C++ to JavaScript.</p>
<img src="/assets/images/a-maze-ing-race-web.png" alt="Photo of the A-Maze-ing Race web game" width="100%">

<h6>Skills I Practiced:</h6>
<ul class="list-skill d-flex gap-2 flex-wrap">
  <li class="badge bg-primary text-bg-primary">Language Porting</li>
  <li class="badge bg-primary text-bg-primary">Web Development</li>
  <li class="badge bg-primary text-bg-primary">Game Design</li>
  <li class="badge bg-primary text-bg-primary">Algorithms</li>
  <li class="badge bg-primary text-bg-primary">Data Structures</li>
</ul>
