<div class="d-flex gap-2 align-items-baseline justify-content-between">
  <h5>Indy on the Rocks</h5>
  <a href="https://github.com/bryanluu/Fizz-253" target="_blank" class="btn btn-primary btn-nd px-3 gap-2 icon-link align-items-baseline">
    <i class="bi bi-github"></i>
    View on GitHub
  </a>
</div>
<p>In undergrad, I built my first robot on a team of 4. We made Indy, a robot adventurer that had to traverse obstacles and collect artifacts. It was a joy to build.</p>
<img src="/assets/images/indy-team.avif" alt="Photo of my team with our robot Indy" width="100%">

<h6>Skills I Practiced:</h6>
<ul class="list-skill d-flex gap-2 flex-wrap">
  <li class="badge bg-primary text-bg-primary">C/C++ Programming</li>
  <li class="badge bg-primary text-bg-primary">Controls</li>
  <li class="badge bg-primary text-bg-primary">Electronics</li>
</ul>
