<div class="d-flex gap-2 align-items-baseline justify-content-between">
  <h5>UBC Sailbot</h5>
  <a href="https://www.ubcsailbot.org/" target="_blank" class="btn btn-primary btn-nd px-3 gap-2 icon-link align-items-baseline">
    <i class="bi bi-box-arrow-up-right"></i>
    View Website
  </a>
</div>
<p>In undergrad, I was part of a student engineering team that built autonomous sailboats. I worked on the transatlantic sailbot Ada, as part of the Controls and Electronics team. I also worked on the Thunderbird robot which won at the International Robotic Sailing Regatta in 2014. It was a lot of fun to build cool things with people.</p>
<img src="/assets/images/thunderbird.jpg" alt="Photo of the Thunderbird boat from UBC Sailbot" width="100%">

<h6>Skills I Practiced:</h6>
<ul class="list-skill d-flex gap-2 flex-wrap">
  <li class="badge bg-primary text-bg-primary">C/C++ Programming</li>
  <li class="badge bg-primary text-bg-primary">Python Programming</li>
  <li class="badge bg-primary text-bg-primary">Controls</li>
  <li class="badge bg-primary text-bg-primary">Electronics</li>
  <li class="badge bg-primary text-bg-primary">Arduino</li>
  <li class="badge bg-primary text-bg-primary">Raspberry Pi</li>
</ul>
